/*============== Action Items ==============*/
/**
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0.2rem;
    height: 2.2rem;
    padding: 0;
    border: 0.1rem solid #ddd;
    font-weight: 100;
    color: black;
    justify-content: center;
}
*/

* {
    font-family: 'Nunito', sans-serif;
}

.body-container {
    /*remove the container default padding attribute*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    /*increase width as per your need*/
    max-width: 100%;
} 

#table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
}

#header {
    background-color: #007DB8;
    pointer-events: none;
    color: white;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.logo-image img {
    margin-left: 1rem;
    margin-right: 20px;
    height: 1.5rem;
}

.navbar {
    background: #007DB8;
    color: white;
    padding: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}



